In [1]:
import pandas as pd
import numpy as np

In [2]:
new = pd.read_excel('Compare2.xlsx', 'Sheet1', na_values=['NA'])

In [3]:
len(new)

259823

In [6]:
changes = new.drop_duplicates(subset=['student','complete','term','program'], keep='last')
changes

,student,complete,term,program
0,109335,Completion of Program,1995 Semester 1,8401
1,200458,Completion of Program,1995 Semester 2,1640
2,207592,Completion of Program,1995 Semester 2,8900
3,218106,Completion of Program,2004 Semester 1,8355
4,700096,Completion of Program,1994 Semester 1,9303
5,700509,Completion of Program,1996 Semester 2,9045
6,700509,Completion of Program,1982 Semester 2,3970
7,700657,Completion of Program,2008 Semester 2,8616
8,701807,Completion of Program,1981 Semester 2,3400
9,704458,Completion of Program,2001 Semester 2,8355
10,708003,Completion of Program,2008 Semester 1,5503
11,708534,Completion of Program,1979 Semester 2,3400
12,708712,Completion of Program,1999 Semester 2,9250
13,708712,Completion of Program,1982 Semester 1,3510
14,710091,Completion of Program,1989 Semester 2,8900
15,710687,Completion of Program,1998 Semester 1,6026
16,710687,Completion of Program,1982 Semester 2,4760
17,713627,Completion of Program,2004 Semester 2,8938
18,714151,Completion of Program,1993 Semester 2,6010
19,714593,Completion of Program,1990 Semester 2,8910
20,714593,Completion of Program,1994 Semester 1,5610
21,714593,Completion of Program,1982 Semester 2,3970
22,715379,Completion of Program,2004 Semester 2,8619
23,716561,Completion of Program,1995 Semester 2,5603
24,716561,Completion of Program,1980 Semester 2,3400
25,716987,Completion of Program,1993 Semester 1,5610
26,716987,Completion of Program,1979 Semester 2,3400
27,716995,Completion of Program,1980 Semester 2,5560
28,716995,Completion of Program,1979 Semester 2,3400
29,718076,Completion of Program,1982 Semester 1,4710
...,...,...,...,...
259793,9901833,Completion of Program,2012 Semester 1,8569
259794,9901914,Completion of Program,2004 Semester 1,7375
259795,9902049,Completion of Program,2011 Semester 1,9211
259796,9902108,Completion of Program,2007 Semester 1,1400
259797,9902180,Completion of Program,2013 Semester 2,1200
259798,9902250,Completion of Program,2007 Semester 1,1772
259799,9902295,Completion of Program,2015 Summer Semester,1999
259800,9902517,Completion of Program,2009 Semester 1,1773
259801,9902535,Completion of Program,2011 Semester 1,8616
259802,9902737,Completion of Program,2016 Semester 1,1630
259803,9902846,Completion of Program,2015 Semester 2,1773
259804,9903139,Completion of Program,2004 Semester 1,8256
259805,9903177,Completion of Program,2011 Semester 1,1780
259806,9903391,Completion of Program,2011 Semester 2,8660
259807,9903408,Completion of Program,2009 Semester 1,7534
259808,9903568,Completion of Program,2007 Semester 2,2440
259809,9903896,Completion of Program,2007 Semester 2,9250
259810,9903943,Completion of Program,2013 Semester 1,8223
259811,9903943,Completion of Program,2016 Semester 2,9150
259812,9903946,Completion of Program,2008 Semester 2,7442
259813,9904017,Completion of Program,2006 Semester 2,1295
259814,9904326,Completion of Program,2016 Semester 2,9045
259815,9904378,Completion of Program,2010 Semester 2,2245
259816,9904411,Completion of Program,2009 Semester 1,1835
259817,9904418,Completion of Program,2012 Summer Semester,8350
259818,9904418,Completion of Program,2002 Summer Semester,3402
259819,9904553,Completion of Program,2004 Semester 2,7375
259820,9904865,Completion of Program,2007 Semester 2,7336
259821,9904881,Completion of Program,2004 Semester 2,3710
259822,9904944,Completion of Program,2008 Semester 2,8900

In [13]:
dupe_stds = new.set_index('student','term', 'program').index.get_duplicates()
dupe_stds

[]

In [14]:
dupes = changes[changes["student"].isin(dupe_stds)]
dupes

Empty DataFrame
Columns: [student, complete, term, program]
Index: []

In [18]:
duplicates = new.duplicated(['student','term','program'])

In [19]:
new[duplicates]

,student,complete,term,program
47673,2184212,Completion of Program,1998 Semester 2,5275
89318,2275240,Completion of Program,2005 Semester 1,3260
113466,3066292,Completion of Program,2006 Summer Semester,3010
118804,3091091,Completion of Program,2005 Semester 1,9304
238003,8565589,Completion of Program,1990 Semester 2,1050
239981,8639140,Completion of Program,1991 Semester 2,3970
248457,8892881,Completion of Program,1992 Semester 2,4410
248468,8893020,Completion of Program,1992 Semester 2,4410
248509,8893691,Completion of Program,1992 Semester 2,4410
256921,9195078,Completion of Program,2005 Semester 2,8398